@using SensiveBlogProject.EntityLayer.Concrete
@model NewsLetter

<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="single-sidebar-widget newsletter-widget">
    <h4 class="single-sidebar-widget__title">Newsletter</h4>
    <div class="form-group mt-30">
        <div class="col-autos">
            <form method="post" action="/NewsLetter/Subscribe">
           
            <input type="text" asp-for="Email" class="form-control" id="inlineFormInputGroup" placeholder="Emailinizi Giriniz." onfocus="this.placeholder = ''"
                   onblur="this.placeholder = 'Enter email'">
                <button class="bbtns d-block mt-20 w-100">Abone Ol</button>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // TempData["SuccessMessage"] var mı kontrol et
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                Swal.fire({
                    title: 'Başarılı!',
                    text: successMessage,
                    icon: 'success',
                    confirmButtonText: 'Tamam'
                });
            }
        });
    </script>
}